[mysqld_safe]
log_error = /data/logs/mysql-error.log

[mysqld]
# GENERAL #
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
default_storage_engine = InnoDB
socket = /var/lib/mysql/mysql.sock
pid_file = /var/lib/mysql/mysql.pid
default-authentication-plugin=mysql_native_password

# SAFETY #
max-allowed-packet = 16M
max-connect-errors = 1000000
explicit_defaults_for_timestamp = 1

# INNODB #
innodb-log-files-in-group      = 2
innodb-log-file-size           = 256M
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 3G

# MyISAM #
key-buffer-size = 32M
